.sidebar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    background: var(--nav-background);
    height: var(--body-height);
    overflow-x: hidden;
}
