.nav {
    will-change: scroll-position;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--nav-background);
    display: flex;
    flex-direction: row;
    height: var(--bottom-nav-height);
    overflow-y: hidden;
}
