.logo {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.logo:hover {
    background: var(--primary);
}
.logo div {
    padding-right: 14px;
    color: white;
}
.logo img {
    height: 22px;
    width: 22px;
    margin: 0 6px 0 10px;
}