.nav {
    width: var(--sidebar-width-full);
}
.navlink {
    padding: 18px 0 14px 14px;
    color: var(--text);
    display: flex;
    flex-direction: row;
}
.navlink:hover {
    background: var(--nav-background-hover);
}
.navlinkIcon {
}
.navlinkIcon {
}
.navlinkText {
    padding: 3px 14px;
}
.active, .active:hover {
    background: var(--nav-background-active);
    color: var(--nav-text-active);
}