.sidebar {
    position: absolute;
    top: var(--header-height);
    right: 0;
    width: var(--sidebarRight-width);
    background: var(--nav-background);
    height: var(--body-height);
    overflow-x: hidden;
}
