.nav {
    border-top: 1px solid var(--nav-background-hover);
    width: var(--sidebar-width-full);
}
.navlink {
    display: block;
    padding: 14px;
    color: var(--text)
}
.navlink:hover {
    background: var(--nav-background-hover);
}
.navlinkIcon {
    padding: 0 7px;
    display: inline-block;
}
.navlinkText {
    padding: 0 14px;
    display: inline-block;
}
.active, .active:hover {
    background: var(--nav-background-active);
    color: var(--primary)
}