.logo {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.logo:hover {
    background: var(--primary);
}
.logo div {
    padding-right: 14px;
    color: white;
}
.logo svg {
    color: hsl(var(--primary-h), var(--primary-s), 70%);
    margin: 0 6px 0 10px;
}