.nav {
    will-change: scroll-position;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--nav-background);
    display: flex;
    flex-direction: row;
    height: var(--bottom-nav-height);
    overflow-y: hidden;
}

.navlink {
    color: var(--text);
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    border-right: 1px solid var(--nav-background);
    border-top: 1px solid var(--nav-background);
}
.navlink:hover {
    background: var(--nav-background-active);
    border-right: 1px solid var(--nav-background-active);
    border-top: 1px solid var(--nav-background-active);
}
.active, .active:hover {
    color: var(--nav-text-active);
    background: var(--nav-background-active);
    border-right: 1px solid var(--nav-background-active);
    border-top: 1px solid var(--nav-background-active);
}
.navlink:last-of-type {
    border-right: none;
}
