.burger {
    display: inline-block;
    color: white;
    padding: 15px 0px;
    text-align: center;
    width: var(--sidebar-width-mini);
    box-sizing: border-box;
}
.burger:hover {
    background: var(--primary);
}
@media (max-width: 600px) {
    .burger {
        display: none;
    }
}