.searchbar {
  --searchbar-width-default: 270px;
  --searchbar-width-focused: 500px;
  --searchbar-width: var(--searchbar-width-default);
  position: absolute;
  left: var(--sidebar-width-full);
  top: 10px;
  width: var(--searchbar-width);
}
.input {
  box-sizing: border-box;
  width: 100%;
  font-size: .8em;
  padding: .6em 1em .6em 3em;
  background: var(--searchbar-background);
  color: var(--primary-darker);
  border-radius: 2px;
  border: none;
}
.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary-darker);
  opacity: 1; /* Firefox */
}
.input:focus {
  outline: none;
  background: var(--body);
}
.magglass {
  color: var(--primary-darker);
  position: absolute;
  left: 12px;
  top: 3px;
  font-size: 1.2em;
}
.clear {
  display: none;
  color: var(--primary-darker);
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 1.2em;
}
.show {
  display: block;
}
@media (max-width: 890px) {
    .searchbar {
        --searchbar-width-focused: 270px;
    }
}
@media (max-width: 600px) {
    .searchbar {
        display: none;
    }
}