#blankLayout {
  --body-height: 100vh;
}

#blankLayout {
  background: var(--body);
  overflow: hidden;
}

#content {
  visibility: hidden; /* hide until Route or Stack unhides */
  height: 100vh;
  height: var(--body-height);
  overflow-x: hidden;
  overflow-y: auto;
}
