:root {
  --primary-h: 270;--primary-s: 100%;--primary-l: 33%;
  --primary: hsl(var(--primary-h),var(--primary-s),var(--primary-l));
  --primary-hover: hsl(var(--primary-h),var(--primary-s),calc( var(--primary-l) + 10% ));

  --secondary-h: 45;--secondary-s: 100%;--secondary-l: 40%;
  --secondary: hsl(var(--secondary-h),var(--secondary-s),var(--secondary-l));
  --secondary-hover: hsl(var(--secondary-h),var(--secondary-s),calc( var(--secondary-l) + 4% ));
  
  --warning-h: 45;--warning-s: 100%;--warning-l: 40%;
  --warning: hsl(var(--warning-h),var(--warning-s),var(--warning-l));
  --warning-hover: hsl(var(--warning-h),var(--warning-s),calc( var(--warning-l) + 4% ));

  --danger-h: 0;--danger-s: 100%;--danger-l: 40%;
  --danger: hsl(var(--danger-h),var(--danger-s),var(--danger-l));
  --danger-hover: hsl(var(--danger-h),var(--danger-s),calc( var(--danger-l) + 10% ));

  --black: black;
  --white: hsl(0, 0%, 98%);
  --gray1: hsl(0, 0%, 94%);
  --gray2: hsl(0, 0%, 90%);
  --gray3: hsl(0, 0%, 87%);
  --gray4: hsl(0, 0%, 80%);
  --links: hsl(var(--primary-h),var(--primary-s),calc( var(--primary-l) + 20% ));
  --links-hover: var(--primary);
  --header-background: hsl(0, 0%, 0%);
  --nav-background: var(--gray1);
  --nav-background-hover: var(--gray3);
  --nav-background-active: hsl(var(--primary-h),var(--primary-s),94%);
  --nav-text-active: var(--primary);
  --searchbar-background: var(--gray4);
  --searchbar-background-active: var(--gray2);
}

.dark {
  --black: white;
  --white: black;
  --gray1: hsl(0, 0%, 10%);
  --gray2: hsl(0, 0%, 12%);
  --gray3: hsl(0, 0%, 20%);
  --gray4: hsl(0, 0%, 24%);
  --links: hsl(var(--primary-h),var(--primary-s),calc( var(--primary-l) + 47% ));
  --links-hover: hsl(var(--primary-h),var(--primary-s),calc( var(--primary-l) + 40% ));
  --header-background: hsl(0, 0%, 40%);
  --nav-background: var(--gray2);
  --nav-background-hover: var(--gray3);
  --nav-background-active: var(--primary);
  --nav-text-active: var(--black);
  --searchbar-background: var(--gray4);
  --searchbar-background-active: var(--gray2);
  background: var(--white);
}

body {
  --white-height: 100vh;
  overflow: hidden;
  background: var(--white);
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6,p,li,.text {
  color: var(--black);
}
a, a:active, a:focus {
  text-decoration: none;
  color: var(--black);
}

p a, li a, .body-link {
  text-decoration: underline;
  color: var(--links);
}
p a:hover, li a:hover, .body-link:hover {
  color: var(--links-hover);
}
